*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  color: #1c1e21;
  line-height: 1.34;
  background: url(../asset/header-shadow.png) repeat;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

/* 
=============================
  UTILITY 
=============================
*/
.flex-box {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.img-20 {
  height: 20px;
  width: 20px;
}

.img-40 {
  height: 40px;
  width: 40px;
}

.img-40 > img {
  border-radius: 50%;
}

.img-32 {
  height: 32px;
  width: 32px;
}

.img-28 {
  height: 28px;
  width: 28px;
}

.input-bar {
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  outline: 0;
  border: 0;
  background: #f2f3f5;
}

.gray-bg {
  background: url(../asset/header-shadow.png) repeat-x;
}

.col-1-4,
.col-2-4 {
  align-self: flex-start;
}

/* 
=============================
  LAYOUT
=============================
*/

header {
  position: relative;
  z-index: 2;
}

header #nav {
  background: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
}

.feed > .row {
  padding-top: 6rem;
}

.container {
  max-width: 816px;
  margin: 0 auto;
  flex: 1;
}

.col-1-4 {
  width: 25%;
}

.col-2-4 {
  flex: 1;
  padding: 0 3.2rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

/* Header */
.nav__search {
  margin-left: 1rem;
  align-items: center;
  gap: 0.6rem;
  padding: 6px 8px;
}

.nav__search-item .f {
  fill: #fff;
}

.nav__search-item .input-bar {
  padding: 7px 8px 9px 8px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.nav__page {
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.nav__page-item {
  max-width: 111.6px;
  flex-grow: 1;
  text-align: center;
  padding: 1rem;
  border-radius: 1.1rem;
  cursor: pointer;
}

.nav__page-item:hover {
  background: rgba(0, 0, 0, 0.09);
}

.nav__page-item:first-of-type {
  color: #1877f2;
  border-bottom: 3.5px solid #1877f2;
  border-radius: 0%;
}

.nav__page-item:first-of-type:hover {
  background: none;
}

.nav__menu {
  padding: 0.6rem 0.8rem;
  justify-content: flex-end;
}

.nav__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e6eb;
  border-radius: 50%;
  margin-right: 0.8rem;
  cursor: pointer;
}

.nav__menu-item:hover {
  background: rgba(0, 0, 0, 0.15);
}

.box-shadow {
  position: absolute;
  bottom: -6px;
  right: 0;
  left: 0;
  height: 7px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: 1px 7px;
}

/* MAIN */
#main {
  max-width: 100%;
}

/* STORIES */
.stories-container {
  padding-top: 1.6rem;
  max-width: 590px;
  gap: 1rem;
  overflow: scroll;
  scrollbar-width: none;
}

.story-slide {
  display: flex;
  gap: 1rem;
}

.story-slide > * {
  position: relative;
  width: 140.625px;
  height: 250px;
  overflow: hidden;
}

.stories-container-content > * {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background: url("https://place-puppy.com/140x250");
  background-position: center;
  background-size: cover;
  z-index: 0;
  justify-content: space-between;
}

.stories-container-content:hover .stories-background {
  cursor: pointer;
  transform: scale(1.013);
  transition: all 0.7s;
}

.stories-background:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  transition: all .7s;
  background-color: rgba(0, 0, 0, 0.25);
}

.stories-container-content:hover .stories-background:before {
  display: block;
}

.stories-container-content:hover > * > .stories-user__icon,
.stories-container-content:hover > * > .stories-user__name {
  transform: scale(1);
}

.stories-container-content {
  position: relative;
  justify-content: space-between;
}

.stories-user__icon,
.stories-user__name {
  z-index: 3;
  padding: 1rem;
}

.stories-user__icon {
  border-radius: 50%;
}

.stories-user__icon > img {
  border: 5px solid #1877f2;
  border-radius: 50%;
}

.stories-user__icon,
.stories-user__name {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

/* POSTING POST */
.posting-box {
  margin-top: 1.2rem;
  padding: 1.2rem 1.6rem;
  max-width: 590px;
  background: #fff;
  border-radius: 8px;
}

.posting-box__user-icon {
  position: relative;
}

.posting-box__user-icon img {
  border-radius: 50%;
}

.posting-box__user-icon div:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.posting-box__user-icon:hover div:before {
  display: block;
}

.posting-box__text-editor {
  flex: 1;
}

.posting-box__text-editor .input-bar {
  width: 100%;
  font-size: 1.7rem;
}

.posting-box__content {
  gap: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.posting-box__options {
  justify-content: space-between;
}

.posting-box__options-choice {
  justify-content: center;
  gap: 1rem;
  flex: 1;
  padding: 0.5rem 1rem;
}

.posting-box__options-choice:hover {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  cursor: pointer;
}

.posting-box__options-choice-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #65676b;
}

.newsfeed-box {
  margin-top: 1.6rem;
  max-width: 590px;
  background: #fff;
}

/* NEWFEED BOX */

.newsfeed-box {
  border-radius: 6px;
}

.newsfeed-box__feed-top {
  padding: 1.2rem 1.6rem;
  padding-bottom: 0;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  width: 100%;
}

.newsfeed-box__feed-top-left,
.newsfeed-box__feed-top-right {
  gap: 1rem;
}

.feed__user-img.posting-box__user-icon img {
  border-radius: 5px;
}

.feed__user-img.posting-box__user-icon div:before {
  border-radius: 5px;
}

.feed__user-infor-big {
  font-size: 1.5rem;
  font-weight: 600;
}

.feed__user-infor-big:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feed__user-infor-small {
  font-size: 1.3rem;
  font-weight: 300;
  color: #56676b;
}

.feed-option,
.feed-delete {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #56676b;
}

.feed-option:hover,
.feed-delete:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.newsfeed-box__feed-main {
  padding: 0.4rem 1.6rem;
  width: 100%;
  max-height: 625px;
}

.newsfeed-box__feed-main-content {
  font-size: 1.5rem;
}

.newsfeed-box__feed-bottom {
  width: 100%;
  padding-bottom: 0.6rem;
}

.feed-post-infor {
  justify-content: space-between;
  margin: 0 1.2rem;
  padding: 1rem 0;
}

.feed-post-infor span {
  font-size: 1.5rem;
  color: #56676b;
}

.feed-post-option__text {
  font-size: 1.5rem;
  color: #56676b;
  font-weight: 600;
  line-height: 1.3333;
}

.feed-post-infor span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feed-post-infor__reactions,
.feed-post-infor__comment {
  display: flex;
  align-items: center;
}

.feed-post-infor__reactions > *:last-child,
.feed-post-infor__comment > *:last-child {
  margin-left: 0.6rem;
}

.feed-post-option {
  justify-content: space-between;
  margin: 0 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0.5rem 1.2rem;
  padding: 0.4rem 0;
}

.feed-post-option-choice {
  gap: 0.6rem;
  justify-content: center;
  flex: 1;
  padding: 0.5rem 1rem;
}

.feed-post-option-choice:hover {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  cursor: pointer;
}

.feed-post__text-bar {
  padding: 0 1.6rem;
  gap: 1rem;
}

.feed-post__text-bar__input {
  flex: 1;
}

.feed-post__text-bar__input .input-bar {
  width: 100%;
}

/* NAV Tree (5/9/2023 change nav tag to div) */
.nav-tree {
  margin-top: 1.6rem;
  position: fixed;
  width: inherit;
}

.nav-tree-upper {
  width: 100%;
}

.nav-tree__layout-item {
  width: 100%;
  padding: 0 0.8rem;
  cursor: pointer;
}

.nav-tree__layout-item__layout {
  padding: 0 0.8rem;
  border-radius: 6px;
}

.nav-tree__layout-item__layout:last-of-type {
  margin-bottom: 0.8rem;
}

.nav-tree__layout-item__layout:hover {
  background: rgba(0, 0, 0, 0.09);
}

.nav-tree__layout-item__layout-img {
  max-width: 36px;
  max-height: 36px;
  margin: 0.4rem 0.6rem 0.4rem 0;
  transform: scale(0.7777777);
}

.nav-tree__layout-item__layout-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.more {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e6eb;
  border-radius: 50%;
  margin-right: 0.8rem;
  cursor: pointer;
  width: 28px;
  height: 28px;
  transform: scale(1);
}

.nav-tree-lower {
  width: 100%;
}

.nav-tree-lower__title-box {
  border-top: 1px solid #ced0d4;
  margin: 0 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  justify-content: space-between;
}

.nav-tree-lower__title-box:hover .setting {
  display: block;
}

.nav-tree-lower__title {
  font-size: 2rem;
  padding: 0.8rem 0;
}

.nav-tree-lower__title.nav-title {
  font-size: 1.7rem;
  color: #56676b;
}

.nav-tree-lower__title.setting {
  display: none;
  color: #1877f2;
  padding: 0.8rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 6px;
  cursor: pointer;
}

.nav-tree-lower__title.setting:hover {
  background: rgba(0, 0, 0, 0.09);
}

/* NAV TREE RIGHT */

.nav-tree.contact {
  margin-top: 0;
  width: 100%;
  position: fixed;
}

.nav-tree__layout--right {
  border-top: 0;
  padding-top: 0;
}

.nav-tree-lower__title.icon {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.nav-tree.contact .icon {
  padding: 0;
}

.nav-tree__title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.8rem;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.nav-tree__title-icon:hover {
  background: #e4e6eb;
}

.nav-tree .have-story {
  border: 3px solid #1877f2;
  border-radius: 50%;
}

.have-story img {
  border: 2px solid #fff;
}

.active {
  position: relative;
}

.active:before {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 9999px;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background: #31a24c;
  right: 0;
  bottom: -11%;
}

.nav-tree.contact .nav-tree__layout-item__layout-img img {
  border-radius: 50%;
}

.nav-tree__layout-item__layout-img.lower i {
  font-size: 1.7rem;
  font-weight: 300;
}

.nav-tree__layout-item__layout-img.lower i::before {
  display: block;
  text-align: center;
  margin-top: 6px;
}

/* FOOTER */
.footer__box {
  margin-top: 1.6rem;
  margin-left: 0.8rem;
  padding-left: 0.8rem;
}

.footer__box li {
  color: #56676b;
  list-style: disc;
  margin: 0 1rem;
}

.footer__box li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__box li:first-of-type {
  list-style-type: none;
}

@media (max-width: 900px) {
  .nav-tree {
    display: none;
  }

  .nav__page,
  .container {
    display: none;
  }

  .col-1-4 {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .posting-box__options-choice:last-of-type {
    display: none;
  }
  .feed-post-option-choice:last-of-type {
    display: none;
  }

  .nav__search-item:last-of-type {
    width: 30%;
  }

  .nav__search-item .input-bar {
    width: 180%;
  }
}
